**__pycache__/
.ipynb_checkpoints/
.history
**/ny_taxi_postgres_data/*
# Ignore .auth folders contents (usually keys)
**/*.auth/*
# But allow an informative .txt file in it
!**/*.auth/*.txt
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**logs/
**.env
**google_credentials.json

